.mv-box{
  width: 100vw;
}
.tx-box{
  width: 90vw;
  margin: 25px auto;
}
.layui-colla-item h2{
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}

.layui-colla-item .layui-colla-content{
  text-align: left;
}

.like-count{
  float: right;
  width: 50px;
  padding-left: 10px;
  font-size: 16px;
}

.like-icon{
  float: right; 
  font-size: 25px;
  line-height: 25px;
}

.like-icon-active{
  color: #FF5722; 
}